/*
================================================================================
常见CSS3最通用兼容写法
================================================================================
*/
	
	/**
	***==========================TEXT应用===================================
	***=====================================================================
	**/	
	.text-shadow{
		/*---------文字阴影------------------*/
		text-shadow:5px 5px 5px #000000;    /*@不支持Internet Explorer*/
					  /* Horizontal Vertical  Blur  Color */
		}
	
	.text-transform{
		/*---------文字角度------------------*/
		-webkit-transform: rotate(90deg);
		-moz-transform: rotate(90deg);
		-o-transform: rotate(90deg);
		writing-mode: lr-tb;   /*-ms-writing-mode: lr-tb | rl-tb | tb-rl | bt-rl | tb-lr | bt-lr | lr-bt | rl-bt | lr | rl | tb
					** 默认。内容流水平从左至右，从上到下 | 从右到左，从上到下 | 从上到下，从右到左 | 从下到上，从右到左
					** |从上到下，从左到右|从下到上，从左到右|从下到上，从左到右|从下到上，从右到左
					** L R T B 分别代表左右上下
					** @wordaround需要完善IE支持，此处IE仅支持90度角
					*/
		}
		
	.text-stroke{
		/*---------文字描边------------------*/
		-webkit-text-stroke: 2.2px #211626;    /*Safari 4,Chrome  @不支持Firefox,Opera,Internet Explorer*/
		}
		
	/**
	***==========================BOX应用===================================
	***====================================================================
	**/	
		
	.radius{/*---------圆角------------------*//*@不支持Internet Explorer*/
		/*---------四角一样大小时------------------*/
		border:2px solid #000;         /* dotted dashed double groove  hidden  inset  none  outset  ridge  solid  inherit*/
		-webkit-border-radius: 10px;    /* Safari 3-4, iOS 1-3.2, Android ≤1.6 */
		border-radius:10px;		/* Opera 10.5, IE9+, Safari 5, Chrome, Firefox 4+, iOS 4, Android 2.1+ */  
		
		/*---------四角一样大小分别不同时------
		
		-webkit-border-top-left-radius:2px;
		-webkit-border-top-right-radius:4px;
		-webkit-border-bottom-right-radius:8px;
		-webkit-border-bottom-left-radius:6px;--*/
		
		/*-------------------------
		-moz-border-radius-topleft:2px;
		-moz-border-radius-topright:4px;
		-moz-border-radius-bottomright:8px;
		-moz-border-radius-bottomleft:6px;--*/
		
		/*--------------------------
		
		border-top-left-radius:2px;
		border-top-right-radius:4px;
		border-bottom-right-radius:8px;
		border-bottom-left-radius:6px;-*/
		
		}
	
	.box-shadow{
		/*---------结构阴影-------------*//*@不支持Internet Explorer*/
		  /*insetOrNot(没有inset则是外，有则里) Horizontal Vertical  Blur  Color */
		-webkit-box-shadow:inset 10px 10px 5px #000000; /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
		box-shadow:inset 10px 10px 5px #000000;	        /* Opera 10.5, IE9+, Firefox 4+, Chrome 6+, iOS 5 */
		}
		
	.outline-offset{
		/*---------外线------------------*/	        /*@不支持Internet Explorer8及以下*/
		outline-style:dashed;
		outline-width:5px;
		outline-color: #000000;
		outline-offset: 5px;
		}
					
	.gradient{
		background-image:-webkit-gradient(linear,0% 0%, 0% 100%, from(#FFFFFF), to(#000000), color-stop(0.5,#FF0099)); /*@支持Safari 4+, Chrome */		/*参数分别是：渐变样式（linear，radial） 水平位移(x1)垂直位移(y1)：水平位移(x2)：垂直位移(y2)：开始颜色 结束颜色 偏移量 停靠色 */
		background-image:-moz-linear-gradient(0% 0% 36deg, #FFFFFF,#000000, #F09 50%);/*@支持 firefox*/
		/*参数分别是：渐变样式（linear，radial） 直位移：开始颜色 结束颜色  停靠色 偏移量 */
		background-image: -webkit-linear-gradient(top, #FF0099, #000000); /* Chrome 10+, Safari 5.1+, iOS 5+ */
		background-image:      -o-linear-gradient(top, #FF0099, #000000); /* Opera 11.10-12.00 */
		background-image:         linear-gradient(to bottom, #444444, #999999); /* Firefox 16+, IE10, Opera 12.50+ */
		
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#AAFF0099',endColorstr='#AA000000',GradientType=0 );/*@支持IE10及以下*/
		}
		
	.box_rgba {
		 background-color: transparent; /*此处为背景透明*/
		 background-color: rgba(180, 180, 144, 0.8);  /* Firefox 3+, Safari 3+, Opera 10.10+, Chrome, IE9+ */
		}
		
	.box_opacity {
		/*---------当前透明度------------------*/
		opacity: 0.8; /*结构内所有透明，与背景透明会重复效果，支持Chrome 4+, Firefox 2+, Safari 3.1+, Opera 9+, IE9+, iOS 3.2+, Android 2.1+ */			/*filter:alpha(opacity=60); IE9下*/
		
		}
	
	.box_bgsize {
		/*---------背景大小------------------*/
		-webkit-background-size: 100% 100%; /* Safari 3-4 */
		 background-size: 100% 100%; /* Opera, IE9+, Safari 5, Chrome, Firefox 4+ */
	}
	
	/**
	***==========================Transform应用==========================
	***=================================================================
	**/		
	
	.box_rotate {
		  -webkit-transform: rotate(7.5deg);  /* Safari 3.1+, Chrome */
		     -moz-transform: rotate(7.5deg);  /* Firefox 3.5-15 */
		      -ms-transform: rotate(7.5deg);  /* IE9+ */
		       -o-transform: rotate(7.5deg);  /* Opera 10.5-12.00 */
			  transform: rotate(7.5deg);  /* Firefox 16+, Opera 12.50+ */
		}
	
	
	.box_scale {
		  -webkit-transform: scale(0.8);  /* Safari 3.1+, Chrome */
		     -moz-transform: scale(0.8);  /* Firefox 3.5+ */
		      -ms-transform: scale(0.8);  /* IE9+ */
		       -o-transform: scale(0.8);  /* Opera 10.50+ */
			  transform: scale(0.8);
		}
	
	.box_3dtransforms {
		  -webkit-perspective: 300;  /* Safari 4+, Chrome 12+ */
		     -moz-perspective: 300;  /* Firefox 10+ */
		      -ms-perspective: 300;  /* IE10+ */
			  perspective: 300;
		  -webkit-transform: rotateY(180deg);  -webkit-transform-style: preserve-3d;
		     -moz-transform: rotateY(180deg);     -moz-transform-style: preserve-3d;
		      -ms-transform: rotateY(180deg);      -ms-transform-style: preserve-3d;
			  transform: rotateY(180deg);          transform-style: preserve-3d;
		}

	.box_matrix {
		/*---------matrix(<number>,<number>,<number>,<number>,<number>,<number>)：
以一个含六值的(a,b,c,d,e,f)变换矩阵的形式指定一个2D变换，相当于直接应用一个[a,b,c,d,e,f]变换矩阵------------*/
		 /*-------- 参见http://css3please.com/生成预览-------*/
			-webkit-transform: matrix(2.215,0.492,-0.061,1.125,-156.101,8.149);
			-moz-transform: matrix(2.215,0.492,-0.061,1.125,-156.101px,8.149px);
			-ms-transform: matrix(2.215,0.492,-0.061,1.125,-156.101,8.149);
			-o-transform: matrix(2.215,0.492,-0.061,1.125,-156.101,8.149);
			transform: matrix(2.215,0.492,-0.061,1.125,-156.101,8.149);	
		}
		
	/**
	***==========================Transition 应用========================
	***=================================================================
	**/
	
	.box_transition {
		  -webkit-transition: all 0.3s ease-out;  /* Safari 3.2+, Chrome */
		     -moz-transition: all 0.3s ease-out;  /* Firefox 4-15 */
		       -o-transition: all 0.3s ease-out;  /* Opera 10.5C12.00 */
			  transition: all 0.3s ease-out;  /* Firefox 16+, Opera 12.50+ */
		}
		
	/**
	***==========================animation 应用=========================
	***=================================================================
	**/
	.box_animation:hover {
		  -webkit-animation: myanim 5s infinite; /* Safari 5, Chrome */
		     -moz-animation: myanim 5s infinite; /* Firefox 5-15 */
		       -o-animation: myanim 5s infinite; /* Opera 12+ */
			  animation: myanim 5s infinite; /* Safari 5, Chrome, Firefox 16+ */
		}
		
		
	@-webkit-keyframes myanim {
			  0%   { opacity: 0.0; }
			  50%  { opacity: 0.5; }
			  100% { opacity: 1.0; }
			}
			@-moz-keyframes myanim {
			  0%   { opacity: 0.0; }
			  50%  { opacity: 0.5; }
			  100% { opacity: 1.0; }
			}
			@-o-keyframes myanim {
			  0%   { opacity: 0.0; }
			  50%  { opacity: 0.5; }
			  100% { opacity: 1.0; }
			}
			@keyframes myanim {
			  0%   { opacity: 0.0; }
			  50%  { opacity: 0.5; }
			  100% { opacity: 1.0; }
			}
	/**
	***==========================Context 应用============================
	***==================================================================
	**/	
	.box_columns {
		  -webkit-column-count: 2;  -webkit-column-gap: 15px; /* Safari 3, Chrome*/
		     -moz-column-count: 2;     -moz-column-gap: 15px; /* Firefox 3.5+ */
			  column-count: 2;          column-gap: 15px; /* Opera 11+*/
		}
	@font-face {
		  font-family: 'WebFont';
		  src: url('myfont.woff') format('woff'),  /* Firefox 3.6+, IE9+, Chrome 6+, Safari 5.1+*/
		       url('myfont.ttf') format('truetype');  /* Safari 3―5, Chrome4+, Firefox 3.5, Opera 10+ */
		}
		
/*
================================================================================
其它Tips
================================================================================
*/
	/* ==========================链接类型CSS3工具提示============================**/	
	a {
	   color: #900;
	   text-decoration: none;
	 }
	 
	 a:link {color: blue;}
	 a:visited {color: purple;}
	 a:hover {color: red; position: relative;}
	 a:active {color: yellow;}
	   
	   
	 a[title]:hover:after {
	   content: attr(title);
	   padding: 4px 8px;
	   color: #333;
	   position: absolute;
	   left: 0;
	   top: 100%;
	   white-space: nowrap;
	   z-index: 20px;
	   -moz-border-radius: 5px;
	   -webkit-border-radius: 5px;
	   border-radius: 5px;
	   -moz-box-shadow: 0px 0px 4px #222;
	   -webkit-box-shadow: 0px 0px 4px #222;
	   box-shadow: 0px 0px 4px #222;
	   background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
	   background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #eeeeee),color-stop(1, #cccccc));
	 }
	 
	 /* ==========================链接类型样式============================**/	
	 /* external links */
		 a[href^="http://"]{
		     padding-right: 20px;
		     background: url(external.gif) no-repeat center right;
		 }
		 
		 /* emails */
		 a[href^="mailto:"]{
		     padding-right: 20px;
		     background: url(email.png) no-repeat center right;
		 }
		 
		 /* pdfs */
		 a[href$=".pdf"]{
		     padding-right: 20px;
		     background: url(pdf.png) no-repeat center right;
		 }
	  /* ==========================突出显示文本样式============================**/	
	 	 ::selection {
		    color: #000000;
		    background-color: #FF0099;
		 }
		 
		 ::-moz-selection {
		    color: #000000;
		    background: #FF0099;
		 }
		 
	/* ==========================占位符文本样式============================**/ 
		::-webkit-input-placeholder { color: #ccc; font-style:italic }
		 :-moz-placeholder           { color: #ccc; font-style:italic }
	
	/* ==========================3D写法============================**/ 
		h1 {
		   text-shadow: 0 1px 0 #ccc,
				0 2px 0 #c9c9c9,
				0 3px 0 #bbb,
				0 4px 0 #b9b9b9,
				0 5px 0 #aaa,
				0 6px 1px rgba(0,0,0,.1),
				0 0 5px rgba(0,0,0,.1),
				0 1px 3px rgba(0,0,0,.3),
				0 3px 5px rgba(0,0,0,.2),
				0 5px 10px rgba(0,0,0,.25),
				0 10px 10px rgba(0,0,0,.2),
				0 20px 20px rgba(0,0,0,.15);
		 }
	/* ==========================页面卷曲效果============================**/ 	 	
	.page-curl {
		 position: relative;
		 background: #ffffff;
		 background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
		 background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5));
		 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 );
		 -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
		 -moz-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3); }
		  
		 .page-curl:after {
		 z-index: -1;
		 position: absolute;
		 background: transparent;
		 width: 70%;
		 height: 55%;
		 content: '';
		 right: 10px;
		 bottom: 10px;
		 -webkit-transform: skew(15deg) rotate(5deg);
		 -webkit-box-shadow: 8px 12px 10px rgba(0, 0, 0, 0.3);
		 -moz-transform: skew(15deg) rotate(5deg);
		 -moz-box-shadow: 8px 12px 10px rgba(0, 0, 0, 0.3); }
		  
		 .page-curl:before {
		 z-index: -2;
		 position: absolute;
		 background: transparent;
		 width: 70%;
		 height: 55%;
		 content: '';
		 left: 10px;
		 bottom: 10px;
		 -webkit-transform: skew(-15deg) rotate(-5deg);
		 -webkit-box-shadow: -8px 12px 10px rgba(0, 0, 0, 0.3);
		 -moz-transform: skew(-15deg) rotate(-5deg);
		 -moz-box-shadow: -8px 12px 10px rgba(0, 0, 0, 0.3); }
/*
__Changelog__
2012.08.29: Removed IE6-8 support.
2012.06.06: Removed -ms prefixes from transition, animations and gradients.
2012.03.02: Added box-sizing. Woo!
2012.01.21: Added transform scale and 3d transforms.(thx uxder)
2012.01.19: Linear Gradient Syntax Updated. (thx cssdeck and uxder!)
2012.01.14: Added tab-size. (Blame Mathias if anything breaks!)
2011.10.23: Added the sweet matrix manip demo from Peter Nederlof. Thx Peter!
2011.10.18: CSS Animations added. (thx wookiehangover!)
2011.07.27: Added multicolumn. (thx hotmeteor!)
2011.04.12: Added gradient for IE10! (thx calvein!)
2011.04.11: Added background-clip for the border-radius rule (thx matthewlein!).
2011.04.09: Simplified and corrected MS gradient filter syntax. (thanks david meister)
2011.04.07: Added background-size (thx codler!).
2011.03.26: Added Ceaser link.
2011.03.15: Added linear gradients for Opera 11.10. (Thanks, Mike!)
2012.03.01: Went one year into the future to make a minor text change. Phew!
2011.02.22: Browser support updated.
2011.02.20: Tab key support added (good idea, iszak)
2011.02.20: Fixed longstanding rgba NaN bug.
2011.02.16: Fixed IE filter sizingMethod (moved to the end) after maybe 10 bug reports for it. (Whoops.)
2011.02.10: New gradient syntax (Thx Sami). Update @font-face syntax.
2011.01.05: Removed unneeded -ms-filter declarations and added unprefixed linear-gradient. (Thx Mathias)
2010.11.19: Better handling of users without Flash. (Thx Mathias)
2010.11.06: Toggle to light skin (Thx Curtis Blackwell!). IE9 Transform added. Clipboard only grabs rules, no selector.
2010.10.05: Unprefixed transitions, transforms
2010.06.02: Clipboard click strips comments
2010.05.03: IE Rotation bug fixed. (Thx Joshua!)
2010.04.11: text-shadow added.
2010.04.05: Real rotation in IE (Thx Zoltan!). Added transition. No more DropShadow for IE (it's crap)
2010.04.04: New copy to clipboard style. Better mousewheel support.
2010.03.25: Fixed the gradient flipflop. Fixed positioning bug.
*/
