.player-area{height: 152px; width: 372px; background-color: rgba(0,0,0,0.6); background-color:#222\9; position: absolute; bottom: 35px; right: 0;}
.player-main{height:150px;    font-family: "Lucida Grande","Helvetica Neue",Helvetica,Arial,Microsoft Yahei }
.player-area .hide{display: none!important}
.player-area .show{display: block;}
.player-area .img-area{
    height: 100%; width: 150px; float: left; position: relative;
}
.player-area .img-area img{opacity: 0.6; filter:alpha(opacity=60); width: 150px; height: 150px}
.player-area .img-area .lrc-area{   display: none;  z-index: 10;  background-color: rgba(0,0,0,1);
    width:130px; height: 130px; padding:10px;    position: absolute;left: 0; bottom: 0;
    font-size: 12px; line-height: 24px; font-family: "\5B8B\4F53" arial;
    color: #aaa; opacity: 0.6;   overflow:hidden; text-align: center;}
.player-area .img-area .lrc-area .title{font-size: 13px}
.player-area .btn-area{ height: 100%; width:200px; padding:0 10px;  float: left; position: relative;  }
.btn-area .fa{cursor: pointer; transition: all 0.4s ease;}
.btn-area .fa-stack:hover .fa-circle, 
.btn-area .fa-stack.active .fa-circle{color: #428BCA;}
.btn-area .fa-stack:hover .fa-inverse, 
.btn-area .fa-stack.active .fa-inverse,
.btn-area .btn-top .fa:hover ,
.btn-area .btn-top .fa.active{color: #fff; position: relative;}    
.btn-area .btn[ctitle]:hover:after {
   content: attr(ctitle); padding:4px 6px; color: #aaa; font-size: 12px; position: absolute; left: 0; top: 100%;
   white-space: nowrap; z-index: 10001; height:14px; line-height:14px;
   border-radius: 2px; box-shadow: 0px 0px 2px #222; background: rgba(0,0,0,.6); }
.btn-area .btn-top{ text-align: right; font-size: 16px;  color: #555; position: relative; }
.btn-area .btn-top .volume{padding-right: 6px;}
.btn-area .btn-top > span{ width: 16px;  text-align: center; position: absolute!important; bottom: -30px; padding: 3px;}
.btn-area .btn-top span.select,
.btn-area .btn-top span.v-select{background-color: #333; border-radius: 2px;}
.btn-top span.volume{right: 0;}
.btn-top span.volume i.prog{ width: 100%; display: inline-block;  text-align: center; font-size: 10px; color: #aaa; cursor: pointer;}
.btn-top span.volume i.prog span.prog-val{display: block;}
.btn-top span.volume i.prog span.prog-bar{position: relative; height: 100px; width: 3px; display: inline-block; background-color: #aaa; text-align: center; }
.btn-top span.volume i.prog span.prog-in{width: 3px; background-color:#f05; height: 60px; display: block; position: absolute; bottom: 0;}
.btn-top span.circle{right: 30px;}
.btn-top span.fa-heart{right: 60px;}
.btn-top span.fa-star{right: 90px;}
.btn-area .btn-title{margin-top: 30px; margin-left: 5px; }
.btn-area .btn-title span{ margin-bottom: 4px; display: block; text-overflow: ellipsis; white-space: nowrap; width: 100%;  overflow: hidden;}
.btn-area .btn-title span.song-title{color: #8B1A40; font-size: 18px;}
.btn-area .btn-title span.song-author{color: #3b3b3b; font-size: 12px;}
.btn-area .btn-title span.song-desc{color: #494949; font-size: 13px;}
.btn-area .btn-main{margin-top: 10px;}
.btn-area .btn-main .r{margin-left: 10px; }
.fa-circle{color: #202020;}      .fa-inverse{color: #505050;}
.chg .fa-circle{color: #494949;} .fa-lg .fa-inverse{color: #000;}
.prog-wrap{width: 100%; height: 5px; background-color: #aaa; cursor:pointer;}
.progress {position: relative!important; width:100%; height:5px!important; }
.progress span {box-shadow:#FC4989 0 0 10px 5px!important; right:0px!important; }
.lrc-html-wrap{position: relative;}